In [2]:
import pandas as pd

,match_id,date,venue,player,team,opponent,runs,balls,fours,sixes,wickets,balls_bowled,runs_conceded,economy,strike_rate,fantasy_points
0,1426261,2024-04-09,Maharaja Yadavindra Singh International Cricke...,TM Head,Sunrisers Hyderabad,Punjab Kings,21,15,4,0,0,0,0,NaN,140.00,39
1,1426261,2024-04-09,Maharaja Yadavindra Singh International Cricke...,K Rabada,Sunrisers Hyderabad,Punjab Kings,0,0,0,0,1,25,33,7.92,NaN,30
2,1426261,2024-04-09,Maharaja Yadavindra Singh International Cricke...,Abhishek Sharma,Sunrisers Hyderabad,Punjab Kings,16,12,2,1,0,0,0,NaN,133.33,32
3,1426261,2024-04-09,Maharaja Yadavindra Singh International Cricke...,Arshdeep Singh,Sunrisers Hyderabad,Punjab Kings,0,0,0,0,4,26,29,6.69,NaN,122
4,1426261,2024-04-09,Maharaja Yadavindra Singh International Cricke...,AK Markram,Sunrisers Hyderabad,Punjab Kings,0,2,0,0,0,0,0,NaN,NaN,-2

In [20]:
df = pd.read_csv("fantasy_dataset2.csv")
df.head(5)

,match_id,date,venue,player,team,opponent,runs,balls,fours,sixes,wickets,balls_bowled,runs_conceded,economy,strike_rate,fantasy_points
0,1426261,2024-04-09,Maharaja Yadavindra Singh International Cricke...,TM Head,Sunrisers Hyderabad,Punjab Kings,21,15,4,0,0,0,0,NaN,140.00,39
1,1426261,2024-04-09,Maharaja Yadavindra Singh International Cricke...,K Rabada,Punjab Kings,Sunrisers Hyderabad,0,0,0,0,1,25,33,7.92,NaN,30
2,1426261,2024-04-09,Maharaja Yadavindra Singh International Cricke...,Abhishek Sharma,Sunrisers Hyderabad,Punjab Kings,16,12,2,1,0,0,0,NaN,133.33,32
3,1426261,2024-04-09,Maharaja Yadavindra Singh International Cricke...,Arshdeep Singh,Punjab Kings,Sunrisers Hyderabad,0,0,0,0,4,26,29,6.69,NaN,122
4,1426261,2024-04-09,Maharaja Yadavindra Singh International Cricke...,AK Markram,Sunrisers Hyderabad,Punjab Kings,0,2,0,0,0,0,0,NaN,NaN,-2

In [22]:
df['date'].unique().size

871

In [24]:
df['date'] = pd.to_datetime(df['date'])

In [26]:
df_sorted = df.sort_values(by='date')
df_sorted['date'].unique()

<DatetimeArray>
['2008-04-18 00:00:00', '2008-04-19 00:00:00', '2008-04-20 00:00:00',
 '2008-04-21 00:00:00', '2008-04-22 00:00:00', '2008-04-23 00:00:00',
 '2008-04-24 00:00:00', '2008-04-25 00:00:00', '2008-04-26 00:00:00',
 '2008-04-27 00:00:00',
 ...
 '2025-04-29 00:00:00', '2025-04-30 00:00:00', '2025-05-01 00:00:00',
 '2025-05-02 00:00:00', '2025-05-03 00:00:00', '2025-05-04 00:00:00',
 '2025-05-05 00:00:00', '2025-05-06 00:00:00', '2025-05-07 00:00:00',
 '2025-05-08 00:00:00']
Length: 871, dtype: datetime64[ns]

In [30]:
unique_dates = df['date'].drop_duplicates()
unique_dates_per_year = unique_dates.dt.year.value_counts().sort_index()
print(unique_dates_per_year)

date
2008    43
2009    37
2010    43
2011    49
2012    51
2013    51
2014    41
2015    44
2016    48
2017    43
2018    48
2019    48
2020    50
2021    48
2022    62
2023    56
2024    61
2025    48
Name: count, dtype: int64

In [32]:
df['match_id'].unique().size

1153

In [36]:
df_sorted.tail(5)

,match_id,date,venue,player,team,opponent,runs,balls,fours,sixes,wickets,balls_bowled,runs_conceded,economy,strike_rate,fantasy_points
8385,1473495,2025-05-08,"Himachal Pradesh Cricket Association Stadium, ...",PVD Chameera,Delhi Capitals,Punjab Kings,0,0,0,0,0,13,27,12.46,NaN,0
8386,1473495,2025-05-08,"Himachal Pradesh Cricket Association Stadium, ...",AR Patel,Delhi Capitals,Punjab Kings,0,0,0,0,0,12,25,12.50,NaN,0
8387,1473495,2025-05-08,"Himachal Pradesh Cricket Association Stadium, ...",T Natarajan,Delhi Capitals,Punjab Kings,0,0,0,0,1,7,4,NaN,NaN,30
8388,1473495,2025-05-08,"Himachal Pradesh Cricket Association Stadium, ...",Kuldeep Yadav,Delhi Capitals,Punjab Kings,0,0,0,0,0,13,29,13.38,NaN,0
8389,1473495,2025-05-08,"Himachal Pradesh Cricket Association Stadium, ...",M Tiwari,Delhi Capitals,Punjab Kings,0,0,0,0,0,6,14,NaN,NaN,0

In [38]:
df_filtered = df[df['date'].dt.year >= 2019]